<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hjf.gollumaccount"
    android:versionCode="7"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 必须的权限： -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->

    <!-- 可选的权限： -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.hjf.gollumaccount.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>

        <!-- 添加消费记录界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.AddConsumeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 消费记录详细信息界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.ConsumeDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 消费统计选择界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.StatisticSelectActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 按消费类型进行统计的界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.TypeStatisticActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 按消费类型进行统计的界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.MonthStatisticActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 关于信息界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 记录查询界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.QueryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 消费类型选择界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.TypeSelectActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 设置选择界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.SettingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 主题设置界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.ThemeSettingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 锁屏界面 -->
        <activity
            android:name="cn.hjf.gollumaccount.activity.LockScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>